.Collapsible{
    font-size: 15pt;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.GroupTitle{
    font-size: 20pt;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
