.card-text{
    font-size: 14pt;
}

.header { grid-area: header; }
.headerposter { grid-area: headerposter; }
.left { grid-area: left; }
.right { grid-area: right; }

.grid-container {
    display: grid;
    grid-template-areas:
      'headerposter header header header'
      'left left right right';
    grid-gap: 5px;
    padding: 5px;
  }

.hr {
    margin-top: 3px;
  }