.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#root > div > div.App-header > nav {
  background-color: #36465d;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  margin: auto;
}

.App-body {
  width: 80%;
  margin: 0 auto;
  padding-top: 70px;
}

.App-link {
  color: #61dafb;
}

label {
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*for demo*/
.background-blue {
  background-color: rgb(31, 99, 237);
  color: white;
  display: inline;
}

.background-gray {
  background-color: gray;
  display: inline;
  color: white;
}

p {
  margin-top: 10px !important;
}

#root > div > div.App-header > nav > span > a {
  color: rgba(255, 255, 255, 0.55);
  font-size: 200%;
}

.Index {
  margin: 0 auto;
  text-align: center;
}

#index_btn {
  margin: 20px;
}
